/* The code below puts the title of the website in the center */
.title { 
    text-align: center;
  text-shadow: 2px 2px 0 rebeccapurple;
  background-color: cadetblue;
}



img {
  border: 5px solid white;
   width: 75%;
}
/* The code below adds a white background-color and black text color for the body of the page. */
body {
    color: floralwhite;
    text-align: center;
    background-color: skyblue;
}


/* The code below adds a black background-color and white text color for each section heading. */
.section {
    color:antiquewhite;
    text-align: center;
    background-color: cadetblue;
}



